img {
  height: 100px;
  display: inline-block;
  width: 100px;
    height: auto;
}

#img-0 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-1 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-2 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-3 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-4 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-5 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-6 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-7 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-8 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-9 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-10 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

#img-11 {
    width: auto;
    height: 150px;
    padding: 30px;
        margin-top: 30px;
        margin-left: 30px;
}

.center-container {
    text-align: center;
  }